@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --board-size: 600px;
}

.game-size {
  width: var(--board-size);
  height: var(--board-size);
}

@layer components {
  .button-primary {
    @apply w-40 p-3 font-medium transition-all duration-500 border-2 rounded-md shadow-2xl bg-primary border-primary hover:bg-white hover:text-primary hover:scale-105;
  }
  .disabled {
    @apply font-normal text-gray-300 rounded-md bg-slate-400;
  }
  .hamburger-item {
    @apply w-full h-full text-xl font-light text-white transition-all hover:scale-110 hover:underline hover:text-gray-200;
  }
  .button {
    @apply transition-all duration-200 ease-out border-2 rounded-md select-none text-primary border-quaternary hover:bg-tertiary active:bg-secondary;
  }

  .hide-scroll::-webkit-scrollbar {
    /* Hide scrollbar for Chrome, Safari and Opera */
    display: none;
  }

  .hide-scroll {
    /* Hide scrollbar for IE, Edge and Firefox */
    .example {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }

  html {
    height: 100%;
    width: 100%;
    @apply text-white;
  }
}

html {
  background: linear-gradient(55deg, #693c0f, #0b272d, #061d23, #be890e);
  background-size: 200% 300%;
}

@keyframes AnimationName {
  0% {
    background-position: 40% 94%;
  }

  50% {
    background-position: 50% 37%;
  }
  100% {
    background-position: 40% 94%;
  }
}
