@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --board-size: 600px;
}

.game-size {
  width: var(--board-size);
  height: var(--board-size);
}

@layer components {
  .button-primary {
    @apply bg-primary shadow-2xl border-2 border-primary rounded-md w-40 p-3 font-medium hover:bg-white hover:text-primary transition-all duration-500 hover:scale-105;
  }
  .disabled {
    @apply bg-slate-400 text-gray-300 rounded-md font-normal;
  }
  .hamburger-item {
    @apply text-white font-light h-full w-full text-xl hover:scale-110 hover:underline hover:text-gray-200 transition-all;
  }
  .button {
    @apply text-primary border-2 border-quaternary hover:bg-tertiary transition-all duration-200 rounded-md ease-out select-none active:bg-secondary;
  }

  html {
    height: 100%;
    width: 100%;
  }
}

html {
  background: linear-gradient(55deg, #693c0f, #0b1c2d, #0c1f32, #be890e);
  background-size: 200% 500%;
}

@keyframes AnimationName {
  0% {
    background-position: 40% 94%;
  }

  50% {
    background-position: 50% 37%;
  }
  100% {
    background-position: 40% 94%;
  }
}
